/* question hader for prompt */
.quizz-question-header {
  text-align: center;
  font-size: 44px;
}

/* each individual answer */
.quizz-question-answer {
  margin-left: 25px;
  margin-bottom: 40px;
  padding: 25px;
  cursor: pointer;
  background-color: #f2f2f2;
}

/* added on top of individual answer when selected */
.quizz-question-answer-selected {
  background-color: #008D24;
}
.quizz-question-answer-wrong {
  background-color: #B93400;
}

/* show letter before answer with space */
.quizz-question-answer-id {
  margin-right: 25px;
}

/* bold answer */
.quizz-question-answer-answer {
  font-size: 1.5em;
  font-weight: bold;
}

/* float answer icon */
.answer-icon {
  float: right;
  font-size: 2em;
}

/* next button space */
#next {
  margin-left: 100px;
}
