@charset "utf-8";
/* CSS Document */

html{
	background:#9CD4E3;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:18px;
}

button{
	width:190px;
	height:30px;
	background-color:#0A1041;
	color:#CECECE;
	border:dashed;
	border-color:#B2B2B2;
}

button:hover{
	cursor:pointer;
}